## 0. Start with Python
Python lets you write very concise code.

Java "Hello World!"


```
Public Class HelloWorld
{
  public static void main(String[] args)
  { 
   System.out.println("HelloWorld!");
  }

}

```

In [1]:
# Python Hello World !
print ("Hello World!")

Hello World!

## 1. Python objects, basic types, and variables

Everything in Python is an object.
Every object in Python has a type.
Some of the basic types include:

    int (integer; a whole number with no decimal place)
        10
        -3
    float (float; a number that has a decimal place)
        7.41
        -0.006
    str (string; a sequence of characters enclosed in quotes)
        'this is a string using single quotes'
        "this is a string using double quotes"
    bool (boolean; a binary value that is either true or false)
        True
        False
    NoneType (a special type representing the absence of a value)
        None

In Python, a variable is a name you specify in your code that maps to:

a. A particular object

b. Object instance

C. or value


<font color='red'>
Attention! Names for variables can only contain:</font>

a. Letters

b. Underscores (_)

C. or numbers (no spaces, dashes, or other characters)

<font color='green'>Variable names must start with a letter or underscore.</font>

Python data types are either **mutable** or **immutable**; this influences the way in which variables are declared, passed as parameters, and modified. We will explore this concept in the Instructions.

In [2]:
# Variable declaration
name = "Bob"
Age = 54
has_W2 = True
print(name, Age, has_W2)

Bob 54 True

In [3]:
# Variables start with alphas or underscore
1099_filed = False

SyntaxError: invalid token (<ipython-input-3-35fcaa659d96>, line 2)

In [4]:
# Variable (case sensitiveness)
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8
print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

In [5]:
# Reserved Word
if = 3 
print(if)

SyntaxError: invalid syntax (<ipython-input-5-0db78dcd7c5e>, line 2)

In [6]:
# Multiple Assignment
x = y = z = 1 
x,y,z = 1,2,"abcd"
print (x,y,z)

1 2 abcd

In [7]:
# Operator Example : Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [8]:
# Operator Example : Is this expression True?
5 > 3 < 4 != 3 + 2

True

In [9]:
# Operator Example: 
simple_string1 = 'an example'
simple_string2 = "oranges "
print(simple_string1 + ' of using the + operator')
print(simple_string1)

an example of using the + operator
an example

## 2. Iteration and Condition

In [10]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [11]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

In [12]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

3
5
7

In [13]:
# Condition and Iteration Example: 
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

0
1
2
3
4
1
3
5
7
9

In [14]:
# Learn If and and For with an Example : 

# Python program to check if the input number is prime or not

num = 407

# take input from the user
# num = int(input("Enter a number: "))

# prime numbers are greater than 1
if num > 1:
   # check for factors
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")
       
# if input number is less than
# or equal to 1, it is not prime
else:
   print(num,"is not a prime number")

407 is not a prime number
11 times 37 is 407

## 3. Python Basic Data Structure
    
    Note: mutable objects can be modified after creation and immutable objects cannot.

**Goal** : To group other objects together

The basic container types include:

    str (string: immutable; indexed by integers)
        Items are stored in the order they were added
        
    list (list: mutable; indexed by integers)
        Items are stored in the order they were added
        [3, 5, 6, 3, 'dog', 'cat', False]
        
    tuple (tuple: immutable; indexed by integers)
        Items are stored in the order they were added
        (3, 5, 6, 3, 'dog', 'cat', False)
        
    set (set: mutable; not indexed at all)
        Items are NOT stored in the order they were added, but in a item-defined ordering
        Can only contain immutable objects
        does NOT contain duplicate objects
        {3, 5, 6, 3, 'dog', 'cat', False}
    
    dict (dictionary: mutable; key-value pairs are indexed by immutable keys)
        Items are NOT stored in the order they were added, but in a item-defined ordering
        {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

Defining *lists*, *tuples*, or *sets* : 

    seperate items with(,) 

Defining *dicts* : 

    seperate keys and values with(:)
    
    seperate pairs with(,)

**Strings, lists, and tuples are all sequence types that can use the +, *, +=, and *= operators.**

In [18]:
x = 3
print(id(x))
x = 3 + 1

print(id(x))

93835877120576
93835877120608

In [19]:
# Assign some containers to different variables
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [20]:
# Items in the list object are stored in the order they were added
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [21]:
# Items in the tuple object are stored in the order they were added
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [22]:
# Items in the set object are not stored in the order they were added
# Also, notice that the value 3 only appears once in this set object

set1

{3, 5, 6, False, 'cat', 'dog'}

In [23]:
# Items in the dict object are not stored in the order they were added
dict1

{'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish'], 'name': 'Jane'}

In [24]:
# Add and re-assign

list1 += [5, 'grapes']

list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [25]:
# Add and re-assign

tuple1 += (5, 'grapes')

tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [26]:
# Multiply

[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [27]:

# Multiply

(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### Accessing data in containers
Subscript notation (square brackets) to access data at an index for: 
-  strings
-  lists
-  tuples
-  dicts

*indexed by integers, starting at 0 for first item*
*dicts are indexed by their keys*

    Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [28]:
# Access the first item in a sequence

print (list1[0])

# Access the last item in a sequence

tuple1[-1]

# Access a range of items in a sequence

simple_string1[3:8]

# Access a range of items in a sequence

print(tuple1[:-3])

# Access a range of items in a sequence

list1[4:]

# Access an item in a dictionary

dict1['name']

# Access an element of a sequence in a dictionary

dict1['fav_foods'][2]
print(tuple1)

3
(3, 5, 6, 3, 'dog', 'cat')
(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

### List comprehension
List comprehension is a quick way to iterate through the elements of a list.

Normally, you can iterate through elements of a list with a loop. The list comprehension allows you to manipulate lists in a very concise way to obtain new lists, and it is usually more efficient than looping. The syntax is:

`[func(element) for element in list]`

the list comprehension can also have conditions on the selection of elements:

`[func(element) for element in list if {condition on element}]`

In [29]:
list2 = [1,2,3,4,5,6]

# Basic loop

listdouble = []
for i in range(0, len(list2)):
  listdouble.append(list2[i]*2)
print(listdouble)

[2, 4, 6, 8, 10, 12]

In [30]:
# Slightly better way for looping

listdouble = []
for item in list2:
  listdouble.append(item*2)
print(listdouble)

[2, 4, 6, 8, 10, 12]

In [31]:
# The best way: list comprehension
listdouble = [item*2 for item in list2]
print(listdouble)

[2, 4, 6, 8, 10, 12]

In [32]:
# Conditions in list comprehension: let's take just the odd numbers
doubleodds = [item*2 for item in list2 if item%2==1]
print(doubleodds)

[2, 6, 10]

## 3. Python build-in Functions

-  A function is a Python object that you can "call" to perform an action or compute and return another object

-  Call a function

-  Some functions allow you to pass arguments inside the parentheses 
>-  (separating multiple arguments with a comma).
- Inside the function, these arguments are treated like variables.

A small sample of python useful built-in functions: 

    type(obj) to determine the type of an object
    
    len(container) to determine how many items are in a container
    
    callable(obj) to determine if an object is callable
    
    sorted(container) to return a new list from a container, with the items sorted
    
    sum(container) to compute the sum of a container of numbers
    
    min(container) to determine the smallest item in a container
    
    max(container) to determine the largest item in a container
    
    abs(number) to determine the absolute value of a number
    
    repr(obj) to return a string representation of an object

In [33]:
# Use the type() function to determine the type of an object
type(simple_string1)

str

In [34]:
# Use the len() function to determine how many items are in a container
len(dict1)

3

In [35]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

8

In [36]:
# Use the callable() function to determine if an object is callable
callable(len)

True

In [37]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [38]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [39]:
# Use the repr() function to return a string representation of an object
set1 = 123
repr(set1)

'123'

## 4. Object Oriented Programming
### Python object attributes (methods and properties)

Different types of objects in Python have different attributes

To access an attribute of an object, use a dot (.)
#### Method

<font color= "green">
    When an attribute of an object is a callable, that attribute is called a method</font>

It is the same as a function, only this function is bound to a particular object.

#### Property
<font color = "green">When an attribute of an object is not a callable, that attribute is called a property</font>

It is just a piece of data about the object, that is itself another object.

The built-in *dir()* function can be used to return a list of an object's attributes.

##### Sample methods for string objects

    .capitalize() to return a capitalized version of the string (only first char uppercase)
    
    .upper() to return an uppercase version of the string (all chars uppercase)
    
    .lower() to return an lowercase version of the string (all chars lowercase)
    
    .count(substring) to return the number of occurences of the substring in the string
    
    .startswith(substring) to determine if the string starts with the substring
    
    .endswith(substring) to determine if the string ends with the substring
    
    .replace(old, new) to return a copy of the string with occurences of the "old" replaced by "new"

In [40]:
# Assign a string to a variable

test_string = 'tHis is a sTriNg'

In [41]:
# Return a capitalized version of the string

test_string.capitalize()

'This is a string'

In [42]:
# Return an uppercase version of the string

test_string.upper()

'THIS IS A STRING'

In [43]:
# Count number of occurences of a substring in the string

test_string.count('i')

3

In [44]:
# Count number of occurences of a substring in the string after a certain position

test_string.count('i', 7)

1

##### Sample methods on list objects

    .append(item) to add a single item to the list
    
    .extend([item1, item2, ...]) to add multiple items to the list
    
    .remove(item) to remove a single item from the list
    
    .pop() to remove and return the item at the end of the list
    
    .pop(index) to remove and return an item at an index

In [45]:
# Add a single item to the list
color_list=["Red", "Blue", "Green", "Black"]
color_list.append("Yellow")
print(color_list)

['Red', 'Blue', 'Green', 'Black', 'Yellow']

In [46]:
# Insert a single value at a specific position 
color_list.insert(2, "White")
print(color_list)

['Red', 'Blue', 'White', 'Green', 'Black', 'Yellow']

### Class
The OOP concept follows some basic principles:
-  Inheritance:	A process of using details from a new class without modifying existing class.
-  Encapsulation: Hiding the private details of a class from other objects.
-  Polymorphism:  A concept of using common operation in different ways for different data input.

A class is a blueprint for the object.
The example for class of parrot can be :

In [47]:
class Parrot:
    pass

In [48]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age

# instantiate the Parrot class
blu = Parrot("Blu", 10)
woo = Parrot("Woo", 15)

# access the class attributes
print("Blu is a {}".format(blu.__class__.species))
print("Woo is also a {}".format(woo.__class__.species))

# access the instance attributes
print("{} is {} years old".format( blu.name, blu.age))
print("{} is {} years old".format( woo.name, woo.age))

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

### Python Methods
-  Instance Method
-  Class Method
-  Static Method

In [49]:
class MyClass:
    def method(self):
        return 'instance method called', self

    @classmethod
    def classmethod(cls):
        return 'class method called', cls

    @staticmethod
    def staticmethod():
        return 'static method called'

#### Instance Methods

In [50]:
obj = MyClass()
obj.method()

('instance method called', <__main__.MyClass at 0x7f82517ec978>)

##### Class Method

In [51]:
obj.classmethod()

('class method called', __main__.MyClass)

#### Static Method

In [52]:
obj.staticmethod()

'static method called'

In [53]:
class Parrot:

    # class attribute
    species = "bird"

    # instance attribute
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    #  method
    def description(self):
        return "{} is {} years old".format(self.name, self.age)

    #  method
    def speak(self, sound):
        return "{} says {}".format(self.name, sound)

# instantiate the Parrot class
blu = Parrot("Blu", 10)

# What Are the Results???
# What is the type of Methods?
print(blu.description())
print(blu.speak("nothing :D"))

Blu is 10 years old
Blu says nothing :D

# Play Time!

In [54]:
#What is the result?

result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [55]:
#Result?
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [57]:
items = input("Input comma separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordshello,we,wtg
hello,we,wtg

In [58]:
from datetime import timedelta, date

def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

start_dt = date(2018, 10, 11)
end_dt = date(2018, 12, 30)
for dt in daterange(start_dt, end_dt):
    print(dt)

2018-10-11
2018-10-12
2018-10-13
2018-10-14
2018-10-15
2018-10-16
2018-10-17
2018-10-18
2018-10-19
2018-10-20
2018-10-21
2018-10-22
2018-10-23
2018-10-24
2018-10-25
2018-10-26
2018-10-27
2018-10-28
2018-10-29
2018-10-30
2018-10-31
2018-11-01
2018-11-02
2018-11-03
2018-11-04
2018-11-05
2018-11-06
2018-11-07
2018-11-08
2018-11-09
2018-11-10
2018-11-11
2018-11-12
2018-11-13
2018-11-14
2018-11-15
2018-11-16
2018-11-17
2018-11-18
2018-11-19
2018-11-20
2018-11-21
2018-11-22
2018-11-23
2018-11-24
2018-11-25
2018-11-26
2018-11-27
2018-11-28
2018-11-29
2018-11-30
2018-12-01
2018-12-02
2018-12-03
2018-12-04
2018-12-05
2018-12-06
2018-12-07
2018-12-08
2018-12-09
2018-12-10
2018-12-11
2018-12-12
2018-12-13
2018-12-14
2018-12-15
2018-12-16
2018-12-17
2018-12-18
2018-12-19
2018-12-20
2018-12-21
2018-12-22
2018-12-23
2018-12-24
2018-12-25
2018-12-26
2018-12-27
2018-12-28
2018-12-29
2018-12-30

In [59]:
# define a function
def print_factors(x):
   print("The factors of",x,"are:")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)

# change this value for a different result.
num = 320

#num = int(input("Enter a number: "))

print_factors(num)

The factors of 320 are:
1
2
4
5
8
10
16
20
32
40
64
80
160
320